

Research:
 - Desura
 - IndieCade
 - Indie Mege Booth
 - Steam Greenlight


Resources:
http://gamedevelopment.tutsplus.com/articles/promoting-your-indie-game-checklist--gamedev-7560
http://gamedevelopment.tutsplus.com/articles/marketing-your-indie-game-the-single-most-important-thing-that-no-one-knows-how-to-do--gamedev-7157
